modules: ['cs!$/zoejs.org']

port: 80
hostname: '176.67.165.252'

404: 
  title: 'Page Not Found'
  body: (o) ->
    render: '@cs!site/doc-page/doc-page'
    options:
      section: ''
      data: [
        chapterName: 'Not Found'
        sections: [
          sectionName: 'There isn\'t a page called ' + o._url
          markdown: """
            [Return to the Homepage](/)
          """
        ]
      ]

browserModules: ['jquery']

require:
  waitSeconds: 0
  paths:
    www: '../'
    site: '../zoejs.org'

  map:
    '*':
      selector: 'jquery'

zestLayer:
  include: ['cs!site/zoe-docs', 'cs!site/doc-page/documentation.controller', 'cs!site/doc-page/contents.controller']
  excludeShallow: ['require-css/css-builder', 'require-less/lessc-server']
